<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/src/css/custom.css' | relative_url }}">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <h2>Navigation</h2>
      <ul>
        {% for doc in site.docs %}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endfor %}
      </ul>
    </aside>
    <main class="content">
      {{ content }}
    </main>
  </div>
</body>
</html>


<!-- <aside class="sidebar">
  <h2>Navigation</h2>
  <ul>
    {% for item in site.devops %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</aside> -->
