<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/src/css/custom.css' | relative_url }}">
</head>
<body>
  <!-- Dark Mode Toggle Button -->
  <!-- <button id="dark-mode-toggle">Toggle Dark Mode</button> -->
  <button id="theme-toggle" style="position: absolute; top: 20px; right: 20px;">🌙</button>

  <script>
    const toggleButton = document.getElementById('theme-toggle');
    const currentTheme = localStorage.getItem('theme');
  
    // Set the initial theme
    if (currentTheme) {
      document.body.setAttribute('data-theme', currentTheme);
    }
  
    toggleButton.addEventListener('click', () => {
      let newTheme = document.body.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
      document.body.setAttribute('data-theme', newTheme);
      localStorage.setItem('theme', newTheme);
    });
  </script>
  

  <div class="container">
    <aside class="sidebar">
      <h2>Navigation</h2>
      <ul>
        {% for doc in site.devops %}
          <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endfor %}
      </ul>
    </aside>
    <main class="content">
      {{ content }}
    </main>
  </div>

  <script src="{{ '/src/js/dark-mode.js' | relative_url }}"></script>
</body>
</html>
